@import "sidebar";
@import "datatable";
@import "nav-tab";
@import "modal";

body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;

    .app-header {
        background-color: #b22228;
    }
}

.card-logo {
    background-color: #b22228;
    color: #ffffff;

    .logo-img {
        max-width: 100%;
        margin: auto;
        display: flex;
    }
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #ffffff;
}
button:focus {
    outline: unset;
}

.image-zoom {
    display: flex;
    align-items: center;
}

@media (max-width: 480px) {
    .image-zoom {
        display: block;
    }
}

.text-limit {
    text-overflow: ellipsis;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: block;
    white-space: unset;

    &.line-2 {
        max-height: 38px;
        min-height: 20px;
        -webkit-line-clamp: 2;
    }
}

.zoom {
    transition: transform .2s; /* Animation */
    &:hover {
        z-index: 9;

        &.zoom-origin-center {
            transform-origin: center;
        }

        &.zoom-origin-left {
            transform-origin: left;
        }

        &.x3 {
            transform: scale(3);
        }

        &.x6 {
            transform: scale(6);
        }
    }
}

@media screen and (max-width: 480px) {
    .zoom {
        width: 100%;
        margin-bottom: 10px;

        &:hover {
            transform: unset;
        }
    }
}
