.modal-backdrop {
    display: none;
}

.modal {
    top: 60px;

    &:before {
        content: '';
        background-color: #000000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
    }
}
