.nav-header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 5px;
}
.nav.nav-tabs {
    background-color: #ffffff;
    border-bottom: unset;
    padding: 5px;
    .nav-item {
        .nav-link {
            &.active {
                border-bottom: 1px solid #ffc108;
                color: #ffc108;
            }
            border: unset;
        }
    }
}
.tab-content {
    border: unset;
    border-color: unset;
}
