@media (min-width: 1024px) {
    html:not([dir=rtl]) .sidebar {
        margin-left: -64px;
    }
}
.sidebar-show {
    .sidebar {
        .sidebar-nav {
            width: 200px;
            .nav {
                .nav-item {
                    .nav-link {
                        width: 200px;
                    }
                }
            }
        }
    }
}

.sidebar {
    background: #f28b3e;
    width: auto;
    flex: 0 0 auto !important;
    .sidebar-nav {
        width: auto;
        .nav {
            width: auto;
            .nav-item {
                .nav-link {
                    display: flex;
                    align-items: center;
                    &:hover {
                        background: #dc5f00;
                    }
                    &.active {
                        background: #dc5f00;
                        .nav-icon {
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .dropdown-menu-bottom {
                position: fixed;
                bottom: 0;
                .dropdown-menu {
                    min-width: unset;
                    .dropdown-item {
                        padding: .25rem 1rem;
                        i {
                            margin:unset;
                        }
                    }
                }
            }
        }
    }
}
