@media (min-width:1024px) {
    html:not([dir=rtl]) .sidebar {
        margin-left: -64px
    }
}

.sidebar-show .sidebar .sidebar-nav,
.sidebar-show .sidebar .sidebar-nav .nav .nav-item .nav-link {
    width: 200px
}

.sidebar {
    background: #2F353A;
    flex: 0 0 auto!important
}

.sidebar,
.sidebar .sidebar-nav,
.sidebar .sidebar-nav .nav {
    width: auto
}

.sidebar .sidebar-nav .nav .nav-item .nav-link {
    display: flex;
    align-items: center
}

.sidebar .sidebar-nav .nav .nav-item .nav-link.active,
.sidebar .sidebar-nav .nav .nav-item .nav-link:hover {
    background: #2F353A
}

.sidebar .sidebar-nav .nav .nav-item .nav-link.active .nav-icon {
    color: #fff
}

.sidebar .sidebar-nav .nav .dropdown-menu-bottom {
    position: fixed;
    bottom: 0
}

.sidebar .sidebar-nav .nav .dropdown-menu-bottom .dropdown-menu {
    min-width: unset
}

.sidebar .sidebar-nav .nav .dropdown-menu-bottom .dropdown-menu .dropdown-item {
    padding: .25rem 1rem
}

.sidebar .sidebar-nav .nav .dropdown-menu-bottom .dropdown-menu .dropdown-item i {
    margin: unset
}

#datatable_search_stack #crudTable_filter input {
    border-radius: 5px
}

.btn-outline-warning:hover {
    color: #fff!important
}

#crudTable_wrapper #crudTable {
    border-radius: 0!important
}

#crudTable_wrapper #crudTable td,
#crudTable_wrapper #crudTable th {
    padding-top: 5px;
    padding-bottom: 5px
}

#crudTable_wrapper #crudTable_paginate {
    position: sticky;
    position: -webkit-sticky
}

#crudTable_wrapper #crudTable_paginate .pagination li a {
    border-radius: 50%
}

#crudTable_wrapper #crudTable_paginate .pagination .page-item.active .page-link {
    background-color: #2F353A;
    border-color: #2F353A;
    padding: 9px 15px
}

.nav-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 5px
}

.nav.nav-tabs {
    background-color: #fff;
    border-bottom: unset;
    padding: 5px
}

.nav.nav-tabs .nav-item .nav-link {
    border: unset
}

.nav.nav-tabs .nav-item .nav-link.active {
    border-bottom: 1px solid #2F353A;
    color: #2F353A
}

.tab-content {
    border: unset;
    border-color: unset
}

.modal-backdrop {
    display: none
}

.modal {
    top: 60px
}

.modal:before {
    content: "";
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5
}

body {
    font-size: 14px
}

.card-logo,
body .app-header {
    background-color: #E4E7EA
}

.card-logo {
    color: #fff
}

.card-logo .logo-img {
    max-width: 100%;
    margin: auto;
    display: flex
}

button:focus {
    outline: unset
}

.image-zoom {
    display: flex;
    align-items: center
}

@media (max-width:480px) {
    .image-zoom {
        display: block
    }
}

.text-limit {
    text-overflow: ellipsis;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: block;
    white-space: unset
}

.text-limit.line-2 {
    max-height: 38px;
    min-height: 20px;
    -webkit-line-clamp: 2
}

.zoom {
    transition: transform .2s
}

.zoom:hover {
    z-index: 9
}

.zoom:hover.zoom-origin-center {
    transform-origin: center
}

.zoom:hover.zoom-origin-left {
    transform-origin: left
}

.zoom:hover.x3 {
    transform: scale(3)
}

.zoom:hover.x6 {
    transform: scale(6)
}

@media screen and (max-width:480px) {
    .zoom {
        width: 100%;
        margin-bottom: 10px
    }
    .zoom:hover {
        transform: unset
    }
}