.report {
    box-shadow: 1px 1px 6px 1px #d0d0d0;
    padding: 33px;
    background: #fff;
}
.report form{
    width:100%;

}
.report table{
    width:100%;
    margin-top: 30px;
}
.gj-datepicker{
    width:90% !important
}
.report .button input{
    height: 40px;
    width: 100px ;
    background: #b22228;
    color: white;
    float: right;

}
.report .button{
    text-align: right;
    margin-top: auto;
}
.btn-submit{
    padding: 0%;
    margin-right: 40px;
}
.report .button input:active,.report .button input:focus{
    outline: none;
    border: none;
}
.btn-link{
    color:white;
}
.gj-datepicker-md{
    color: rgba(0, 0, 0, 0.56);
}
.gj-icon{
    font-size: 40px !important;
}
